body {
    background-color: gray;
}

img {
    height: 375px;
    width: 250px;
}

table, tr, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

.poster {
    width: 250px;
}

.description {
    width: 25%;
    text-align: left;
}

.options {
    width: 3%
}

hr {
    width: 20%;
    color: black;
    float: left;
}

input[type=checkbox]:before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: white;
}

input[type=checkbox]:checked:before {
    background-color: lime;
}

input[type=checkbox].redAfter:checked:before {
    background-color: red;
}