<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Programme</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<a href="/movies">Wróć na główną</a><br><br>

<table>
    <tbody>
    <tr>
        <td>Dzień</td>
        <td>Godzina</td>
        <td>Rezerwuj</td>
    </tr>
    <tr th:each="programme: ${programmeList}">
        <td th:text="${programme.date}"></td>
        <td th:text="${programme.time}"></td>
        <td><a th:href="@{'reserve/' + ${programme.movie.getId()} + '/' + ${programme.getId()}}">Rezerwuj</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>