<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Programme</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <a href="http://localhost:8080/movies">Wróć na główną</a><br><br>

    <table>
        <tbody>
        <tr>
            <td>Dzień</td>
            <td>Godzina</td>
            <td>Rezerwuj</td>
        </tr>
        <tr th:each="programme: ${programmeList}">
            <td th:text="${programme.date}"></td>
            <td th:text="${programme.time}"></td>
            <td><a href="#">Rezerwuj (wip)</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>